<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>648702036593-jb7h4e0jt8g24al2vpn2f0vd6m94ah67.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648702036593-jb7h4e0jt8g24al2vpn2f0vd6m94ah67</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>648702036593-et6rn5vi5026thpr6hfnisj1buhtup9t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDk7pORoBit0DZGQJ1oc7PkX8gLHSeXOwM</string>
	<key>GCM_SENDER_ID</key>
	<string>648702036593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tinga</string>
	<key>PROJECT_ID</key>
	<string>tinga-f7936</string>
	<key>STORAGE_BUCKET</key>
	<string>tinga-f7936.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648702036593:ios:5deff50ac60dd9e1baa9d0</string>
</dict>
</plist>