<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635678166629-iruoe91389q106em9kt4ti3fq2o5nl2g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635678166629-iruoe91389q106em9kt4ti3fq2o5nl2g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>635678166629-33mrurj6r6nbj98lrqcdvevtq50cdk73.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAJZEG0jWqLm3RdoQLa9koSz1Q3eO5jlFU</string>
	<key>GCM_SENDER_ID</key>
	<string>635678166629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.eduop.tinga</string>
	<key>PROJECT_ID</key>
	<string>tinga-test</string>
	<key>STORAGE_BUCKET</key>
	<string>tinga-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635678166629:ios:3d96923512b2a38059c08c</string>
</dict>
</plist>